.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    font-size: 25px;
}

th {
    background-color: rgb(135, 151, 151);
    color: black;
}
td {
    background-color: rgb(213, 218, 219);
}
form {
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}
form td:last-child {
    display: flex;
    justify-content: space-evenly;
}

form * {
    font-size: 20px;
}
.submitButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 8px;
}
/* 
input[type="text"] {
    width: 800px;
    text-align: center;
} */